<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <!--<FeatureRef Id='Complete'>-->
      <Feature Id='assembly@configappend@' Title='Assembly@configappend@' Description='Assembly@configappend@' Level='1' AllowAdvertise='no'>
        <ComponentGroupRef Id='bin@configappend@' />
	<Feature Id='sxspublic@configappend@' Title='Public SxS' Description='Register public SxS assembly' Level='1' AllowAdvertise='no'>
		<ComponentGroupRef Id='sxs@configappend@_Debug' />
		<ComponentGroupRef Id='sxs@configappend@_Release' />
		<ComponentGroupRef Id='sxs@configappend@_RelWithDebInfo' />
		<ComponentGroupRef Id='sxs@configappend@_MinSizeRel' />
	</Feature>
        <Feature Id='CM@configappend@' Title='Development' Description='Linker libraries and cmake files' Level='1' AllowAdvertise='no'>
          <ComponentGroupRef Id='lib@configappend@' />
          <ComponentGroupRef Id='conf@configappend@' />
          <ComponentGroupRef Id='inc_Ryan_Serialization' />
        </Feature>
      </Feature>
    <!--</FeatureRef>-->
  </Fragment>
</Wix>

