<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<assembly xmlns="urn:schemas-microsoft-com:asm.v1" manifestVersion="1.0">
	<assemblyIdentity 
		type="win32" 
		name="Ryan.Debug.DebugAssembly" 
		version="@MAJOR@.@MINOR@.@REVISION@.@SVNREVISION@" 
		processorArchitecture="amd64" 
		publicKeyToken="@ASSEMBLY_PUBLICKEYTOKEN@"/>
</assembly>
