<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="bindir">
      <Directory Id="dirsxs@configappend@_@p@" Name="sxs@configappend@_@p@" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="sxs@configappend@_@p@">
      <Component Id="sxspolicy@configappend@_@p@" Directory="dirsxs@configappend@_@p@" Guid="*">
        <File Id="polcat@MAJOR@_@MINOR@_@ASSEMBLY_NAME@" Vital='yes' Source="$(var.MySource)\policy.@MAJOR@.@MINOR@.@ASSEMBLY_NAME@.cat" />
        <File Id="polman@MAJOR@_@MINOR@_@ASSEMBLY_NAME@" KeyPath="yes" Source="$(var.MySource)\policy.@MAJOR@.@MINOR@.@ASSEMBLY_NAME@.manifest"
              Assembly='win32' Vital='yes'
              AssemblyManifest='polman@MAJOR@_@MINOR@_@ASSEMBLY_NAME@'
              />
      </Component>
      <Component Id="sxspublic@configappend@_@p@" Directory="dirsxs@configappend@_@p@" Guid="*">
        <File Id="sxscat@ASSEMBLY_NAME@" Vital='yes' KeyPath="no" Source="$(var.MySource)\@ASSEMBLY_NAME@.cat" />
        <File Id="sxsman@ASSEMBLY_NAME@" Vital='yes' KeyPath="no" Source="$(var.MySource)\@ASSEMBLY_NAME@.manifest" />
        <File Id="sxslib@ASSEMBLY_NAME@" KeyPath="yes" Source="$(var.MySource)\@ASSEMBLY_LIB_NAME@"
              AssemblyManifest='sxsman@ASSEMBLY_NAME@'
              Assembly='win32'
              Vital='yes'
              />
      </Component>
    </ComponentGroup>

    <FeatureRef Id='sxspublic@configappend@'>
      <ComponentGroupRef Id='sxs@configappend@_@p@'/>
    </FeatureRef>
  </Fragment>
</Wix>

